*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqaX8H47M57M7HFux17810ZwDEeriBLjY3Dg&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(8, 8, 8);

}
h1{
  text-align: center;
  padding: 5% 0 5% 0;
  font-size: 300%;
}
h3{
  text-align: center;
  font-size: 200%;
  padding-bottom: 5%;
}

.container, .button{
  
  text-align: center;
  color:black;
  display: flex;
  justify-content: center;
 }
.milkoutput{
  border: 1px solid #bbbbbb;
  background-color:#07e3f3f4;
  margin: 1% 5% 5% 5%;
  padding: 2% 5% 5% 5%;
  width: 60%;
  box-shadow: 4px 10px 15px #393e46, -4px -4px 10px #393e46;
}
.button{
  padding-bottom: 5%;
}
#btn{
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(229, 233, 17);
  outline: none;
  cursor: pointer;
  border: none;
}
#btn:hover{
  background-color: antiquewhite;
}
footer{
  text-align: center;
  color: rgb(163, 13, 13);
}